<a href="https://colab.research.google.com/github/sushmita0507/DataScience/blob/main/practice_sushmita_U.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day 1:**
#datatypes example

integer
pre-defined functions

type

In [ ]:
type(1)

int

In [ ]:
type(45,76)

TypeError: type() takes 1 or 3 arguments

In [ ]:
type(45.76)

float

In [ ]:
type('7')

str

In [ ]:
type(1j+2)

complex

In [ ]:
#list

In [ ]:
type[1,2,3,4,5,6]

type[1, 2, 3, 4, 5, 6]

In [ ]:
#tuple
tuple((1,2,23,5,5))

(1, 2, 23, 5, 5)

In [ ]:
#dictionary
#expression - {key:value, key1:value1}

In [ ]:
type({'name':'raj', 'roll_no':234})

dict

In [ ]:
#to do
#make a list mentioning each data type

li=[type(4),type(0.123),type("sushmita"),type([1,2,5,6,8,9]),type(5j + 10)]
print(li)
print(type(li))

[<class 'int'>, <class 'float'>, <class 'str'>, <class 'list'>, <class 'complex'>]
<class 'list'>

In [ ]:
#make a dictionary adding your name and basic details

dict={'Name':'Sushmita','College':'Bmsit', 'age':22, 'Course':'MCA'}
print(dict)
print(type(dict))

{'Name': 'Sushmita', 'College': 'Bmsit', 'age': 22, 'Course': 'MCA'}
<class 'dict'>

In [ ]:
#to do
#you have to print the type of data and store it

str1="If you want to change the world, start off by making your bed."
print(str1)

If you want to change the world, start off by making your bed.

In [ ]:
S=[type(55),type(1.34),type("rush"),type([1,4,2,6,9]),type(7j + 67)]
print(S)
print(type(S))

tuple=(type(9),type(9.4),type("string"),type([1,2,3,4,4,5,6]),type(2j + 4),type((1,2,34,5,6)))
print(type(tuple))
print(tuple)

[<class 'int'>, <class 'float'>, <class 'str'>, <class 'list'>, <class 'complex'>]
<class 'list'>
<class 'tuple'>
(<class 'int'>, <class 'float'>, <class 'str'>, <class 'list'>, <class 'complex'>, <class 'tuple'>)

In [ ]:
#print function
print("hii, Im Sushmita")

hii, Im Sushmita

In [ ]:
print(6)

6

In [ ]:
type(str1)

str

In [ ]:
str1="hello this is day 1"
print(str1)

hello this is day 1

In [ ]:
#data opeartors

In [ ]:
#multiplication *
#floor division //
#divion /
#addition +
#exponention a**b

In [ ]:
34*23

782

In [ ]:
a = 35
b = 65
 
a+b

100

In [ ]:
a-b

-30

In [ ]:
a/b

0.5384615384615384

In [ ]:
a//b

0

In [ ]:
a**b

23143171985618148385244286678913597734970588950324139906433544566777271711544017307460308074951171875

In [ ]:
"""##relational operators"""

34>45

False

In [ ]:
34<45

True

In [ ]:
34!=45

True

In [ ]:

"""assignments operators:"""

x=12

x+=2
print(x)

x*=3

print(x)

14
42

In [ ]:
"""#python logical operators

1.and
2.or
3.not
"""

'#python logical operators\n\n1.and\n2.or\n3.not\n'

In [ ]:
#and operators

45>67 and 67 == 67

False

In [ ]:
43<76and 89 == 89

True

In [ ]:
#or operator

23<45 or 49 == 49 or 2==2

True

In [ ]:
'sush' == 'Sush'

False

In [ ]:
# not operator

not('sush' == 'Sush')

True

# **Day 2:**
# what are sequences in python

sequences are containers with items that are accessible by the indexing or string.

1. Concatenation 
2. Repetation
3. Membership testing
4. Slicing
5. Indexing

In [ ]:
#append

ap=[2,4,2,4,1,67,43]
print(ap)
ap.append(11)
print(ap)

[2, 4, 2, 4, 1, 67, 43]
[2, 4, 2, 4, 1, 67, 43, 11]

In [ ]:
#insert

ins=[23,53,65,34,12,65]
print(ins)
ins.insert(5,456)
print(ins)

[23, 53, 65, 34, 12, 65]
[23, 53, 65, 34, 12, 456, 65]

In [ ]:
#manipulation of list

#to do

#you have to make your own list(all the items are integers)

list=[1,2,4,2,7,34,243]
print(list)
print(type(list))

[1, 2, 4, 2, 7, 34, 243]
<class 'list'>

In [ ]:
#to do
#You have to insert 37 in 8th index and 2 in 12th index and 5 in 1000 index

todo=[1,3,2,3,2,233,321,453,23424,253,2,22,4,2,3423,4,2,4,2,323,23]
print(todo)
todo.insert(8,37)
print(todo)
todo.insert(12,2)
print(todo)
todo.insert(1000,5) 
print(todo)

[1, 3, 2, 3, 2, 233, 321, 453, 23424, 253, 2, 22, 4, 2, 3423, 4, 2, 4, 2, 323, 23]
[1, 3, 2, 3, 2, 233, 321, 453, 37, 23424, 253, 2, 22, 4, 2, 3423, 4, 2, 4, 2, 323, 23]
[1, 3, 2, 3, 2, 233, 321, 453, 37, 23424, 253, 2, 2, 22, 4, 2, 3423, 4, 2, 4, 2, 323, 23]
[1, 3, 2, 3, 2, 233, 321, 453, 37, 23424, 253, 2, 2, 22, 4, 2, 3423, 4, 2, 4, 2, 323, 23, 5]

In [ ]:
#To Do 
#a = 12
#b = 3
#c = 45
#Write a sqapping function where a == c, b ==a, c = b
a = 12
b = 3
c = 45
a,b,c=c,a,b
print(a,b,c)

45 12 3

In [ ]:
#extend function

ex1=[1,2,3,2,3,4,32,34]
ex2=[435,6,35,35,656,234]

ex1.extend(ex2)
ex2.extend(ex1)

print("Extended list afer adding ex2",ex1)
print("Extended list afer adding ex1",ex2)

Extended list afer adding ex2 [1, 2, 3, 2, 3, 4, 32, 34, 435, 6, 35, 35, 656, 234]
Extended list afer adding ex1 [435, 6, 35, 35, 656, 234, 1, 2, 3, 2, 3, 4, 32, 34, 435, 6, 35, 35, 656, 234]

In [ ]:
#sum

print(sum(ex2))

2883

In [ ]:
summm=[2,4,3,4,5,'wees']
sum(summm)

TypeError: ignored

In [ ]:
#count

count1=[1,64,56,12,56,32,98,0,76,1,3,5,7,4,6,7,86,3,4,56,34,67,45,54,6,65,56,34,7,54]
print(count1.count(7))

3

In [ ]:
#indexing
In = [2,1,4,3,7,4,35,234,65]
In.index(35)

6

In [ ]:
In[5]

4

In [ ]:
In[8]

65

In [ ]:
In[3:8]

[3, 7, 4, 35, 234]

In [ ]:
min(In)

1

In [ ]:
dc=[3.4,3.6,.3,6.2,2.5,2.45,2.6,.74,4.78,345.7,4.6]
min(dc)

0.3

In [ ]:
#max
print('mac of dc is', max(dc))

mac of dc is 345.7

In [ ]:
pop1=[1,3,2,4,6,764,345,5644,234]
pop1.pop(4)
print(pop1)
print(a)

[1, 3, 2, 4, 764, 345, 5644, 234]
Python is a programming language

In [ ]:
pop1.pop()

234

In [ ]:
delete = [3,4,2,5,223,56,23,43]
del delete[2]

In [ ]:
delete

[3, 4, 5, 223, 56, 23, 43]

In [ ]:
remove1 = [2.3,4,3,8,65,34,12435,856,325]

b=remove1.remove(4)
print(remove1)
print(b)

[2.3, 3, 8, 65, 34, 12435, 856, 325]
None

In [ ]:
x = 23
y = 9
"""
temp = x
x = y
y = temp
print(x)
print(y)
"""
x,y = y,x
print(x)
print(y)

9
23

In [ ]:
#String

In [ ]:
name = 'dlitHe Institute Bangalore'
course = 'Python certification Course'

In [ ]:
name.capitalize()

'Dlithe institute bangalore'

In [ ]:
name.count("i")

2

In [ ]:
name.find("u")

13

In [ ]:
name.isalpha()

False

In [ ]:
name.islower()

False

In [ ]:
name.isupper()

False

In [ ]:
name.lower()

'dlithe institute bangalore'

In [ ]:
name.upper()

'DLITHE INSTITUTE BANGALORE'

In [ ]:
name.strip()

'dlitHe Institute Bangalore'

In [ ]:
a = "Python is a programming language"
a.split("is")

['Python ', ' a programming language']

In [ ]:
b = "Python"
c = "language"

b + " "+ c

'Python language'

In [ ]:
a*3

'Python is a programming languagePython is a programming languagePython is a programming language'

In [ ]:
str1 = 'Hello to the kingdom'

In [ ]:
len(str1)

20

In [ ]:
str1[3]

'l'

In [ ]:
str1[9:12]

'the'

In [ ]:
str1.replace('the','a')

'Hello to a kingdom'

#Day 3:--

Tuple

In [ ]:
t1 = ('banana', 'guava','melon','jackfruit','mango','orange')

t1[1]

'guava'

In [ ]:
t1[2:4]

('melon', 'jackfruit')

In [ ]:
t2 = (1,3,2,4,7,5,0)
t3 = ('df',5,7,'iuy')

t4 = t2 + t3
print(t4)

(1, 3, 2, 4, 7, 5, 0, 'df', 5, 7, 'iuy')

In [ ]:
tup = tuple('hello world')
print(tup)

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [ ]:
#to do
#create a tuple ('Hello','World')

test = ('Hello','World')
print(test)
print(type(test))

('Hello', 'World')
<class 'tuple'>

In [ ]:
tu = tuple("hello") *3
print(tu)

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

In [ ]:
#tuple unpacking

tu1 = ('Hello','Good','People')
a,b,c = tu1
print(a)
print(b)
print(c)

Hello
Good
People

In [ ]:
#Dictionary

dic = {"Name":"Sushmita","Age":"22"}
print(dic)

{'Name': 'Sushmita', 'Age': '22'}

In [ ]:
#deleting the key

del dic["Name"]
print(dic)

{'Age': '22'}

In [ ]:
#adding a key value
dic["Number"]=234567
dic["Name"] = "Sush"

In [ ]:
print(dic)

{'Number': 234567, 'Name': 'Sush'}

In [ ]:
#pop

dic.pop("Age")

'22'

In [ ]:
print(dic)

{'Number': 234567, 'Name': 'Sush'}

In [ ]:
#creating dictionary
temp = dict(Brand="Apple", Model="s-series",year=2022)
print(temp)

{'Brand': 'Apple', 'Model': 's-series', 'year': 2022}

In [ ]:
print(dic)

{'Number': 234567, 'Name': 'Sush'}

In [ ]:
#copy dictionary
tp = dict(temp)

In [ ]:
print(tp)

{'Brand': 'Apple', 'Model': 's-series', 'year': 2022}

In [ ]:
tp["year"]

2022

In [ ]:
#Nested Dictionary

di = {'Dict1':{1:'get'},'Dict2':{'Name':'For'}}

In [ ]:
di

{'Dict1': {1: 'get'}, 'Dict2': {'Name': 'For'}}

In [ ]:
#access 

di['Dict1'][1]

'get'

In [ ]:
di.clear() #to empty

In [ ]:
di

{}

In [ ]:
"""condition statements

if condition:
  statement(s)
else:
  statement1(s)"""

'condition statements\n\nif condition:\n  statement(s)\nelse:\n  statement1(s)'

In [ ]:
 i = 5
 if(i<25):
   print("i is less than 25")

print("I am not in if block")

i is less than 25
I am not in if block

In [ ]:
string = 'Parade'

if string == 'Parade':
  print('hello')
    string = string*3
    print(string)

#to-do
#Specify what it is doing
#Also mention and clear errors

In [ ]:
#mention errors
""" (string = string*3
    print(string)) """  #not properly indented to If Clause

'''what it is doing - "this statement prints hello then multiplies the string * 3 
and print the string which prints the string 'parade' 3 times" only if the string is Parade '''

' string = string*3\n    print(string) '

In [ ]:
#todo clearing errors
string = 'Parade'

if string == 'Parade':
  print('hello')
  string = string*3
  print(string)

hello
ParadeParadeParade

In [ ]:
i=20
if(i<15):
  print("i is smaller than 15")
  print("Im in if block")
else:
  print("i is greater or equal to 15")
  print("im in else block")

i is greater or equal to 15
im in else block

In [ ]:
#Nested If-else

In [ ]:
i = 40 #assign i = 40
if(i==40): #check if i is 40
  if(i<=50): #check if i is less than or equal to 50
    print("i is smaller than 50")  #print "i is smaller than 50" only if i is less than or equal to 50
  if(i<12): #check if i is less than 12
    print("i is smaller than 12 too") #print "i is smaller than 12 too" only if i is less than 12
  else: #if i is not less then 12
    print("i is greater than 15") #print "i is greater than 15" if i is not less then 12

#add the Comments

i is smaller than 50
i is greater than 15

In [ ]:
# add all the comments
i = 4 #assign i = 4
if(i==40): #check if i is 40
  if(i<=50): #check if i is less than or equal to 50
    print("i is smaller than 50")  #print "i is smaller than 50" only if i is less than or equal to 50
  if(i<12): #check if i is less than 12
    print("i is smaller than 12 too") #print "i is smaller than 12 too" only if i is less than 12
  else: #if i is not less then 12
    print("i is greater than 15") #print "i is greater than 15" if i is not less then 12
else: #if the if condition is false ie i =40, 
  print('i is not 40') #print if i is not 40

i is not 40

#Day4:-

In [ ]:
#if-elif-else

if(condition):
  statemets..
elif(conditions):
  statements
else:
  statements

In [ ]:
i=20
if(i==20):
  print("i is equal to 20")
  print('we are in if block')
elif(i==15):
  print('i is 15')
  print('we are in elif(1) block')

elif(i==10):
  print('i is 10')
  print('we are in elif(2) block')
else:
  print('i is equal to nothing')
  print('we are in else block')

i is equal to 20
we are in if block

In [ ]:
#short hand if statement (comprehensive)

if condition: Statement

In [ ]:
i=10
if i<=10:print('i is less than or equal to 10')

i is less than or equal to 10

In [ ]:
#to-do
#you have to explore if-else short hand code
#else - i is greater than or equal to 10

#example
a = 2
b = 330
print(a) if a > b else print(b)

330

In [ ]:
#todo
i=10

print('i is less than 10') if i<10 else print('i is greater than or equal to 10')

i is greater than or equal to 10

In [ ]:
#looping structures
#for and while

In [ ]:
for var in iterable:
  statements

In [ ]:
l = [1,2,3,4,5,6,7]

for var in l:   
  print(var)
print(var)

1
2
3
4
5
6
7
7

In [ ]:
l =['onion','cucumber','tomato','peas','banana']
for var in l:
  print(var)

for i in l:  #to iterate each letter
  for j in i:
    print(j)

onion
cucumber
tomato
peas
banana
o
n
i
o
n
c
u
c
u
m
b
e
r
t
o
m
a
t
o
p
e
a
s
b
a
n
a
n
a

In [ ]:
#todo
#replace banana with a mushroom and store it in a new list
new_list = list(map(lambda x: x.replace('banana', 'mushroom'), l)) #new_list = new list, l = existing list
print(new_list)
print(l)

['onion', 'cucumber', 'tomato', 'peas', 'mushroom']
['onion', 'cucumber', 'tomato', 'peas', 'banana']

In [ ]:
#input
s = input()

12

In [ ]:
s

'12'

In [ ]:
s = str(input())

sush

In [ ]:
s

'sush'

In [ ]:
type(s)

str

In [ ]:
s = int(input())

56

In [ ]:
s = list(input())

234567

In [ ]:
s

['2', '3', '4', '5', '6', '7']

In [ ]:
s = list(input())

5453

In [ ]:
s

['5', '4', '5', '3']

In [ ]:
#to do is improvization
#split
s=list(input().split(" "))
print(s)

sush divya flora naziya
['sush', 'divya', 'flora', 'naziya']

In [ ]:
s = str(input())

for i in s:
  print(i)

8765
8
7
6
5

In [ ]:
d = dict()
d['a']=123
d['b']=128

for i in d:
  print(i,d[i])

a 123
b 128

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter =='w':
    break
print('current letter', letter)

current letter w

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter =='w':
    break
  print(letter)

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter =='w':
    pass
  print(letter)

w
h
e
n
a
r
e
y
o
u
o
l
d

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter =='w':
    continue #breaks the existing loop and continue with new
  print(letter)

h
n
a
r
y
o
u
o
l
d

In [ ]:
#range

In [ ]:
list(range(1,10,1)) #list(range(starting point,ending point,iteration))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l =[10,20,30,40,60,40]

for i in range(len(l)):
  print(l[i], end =" ")
print()

10 20 30 40 60 40

In [ ]:
#to-do
#perform the sum of first 10 natural numbers
sum=0
for i in range(11): #starts with 0
  sum+=i
print(sum)

55

In [ ]:
while expression:
  statements(s)

In [ ]:
count = 0
while(count <3):
  count+=1
  print('hello')

hello
hello
hello

In [ ]:
count = 0
while(count <3):
  count+=3
  print('hello')

hello

In [ ]:
a = [1,2,3,4,6,7,5]

while a:
  print(a.pop())

5
7
6
4
3
2
1

In [ ]:
i=0
a = 'helloworld'
while i < len(a):
  if a[i] == 'e':
    i+=1
    continue
  print('current letter',a[i])
  i+=1

current letter h
current letter l
current letter l
current letter o
current letter w
current letter o
current letter r
current letter l
current letter d

In [ ]:
i=0
a = 'helloworld'
while i < len(a):
  if a[i] == 'e':
    i+=1
    break
  print('current letter',a[i])
  i+=1

current letter h

In [ ]:
i=0
a = 'helloworld'
while i < len(a):
  if a[i] == 'e':
    i+=1
    pass
  print('current letter',a[i])
  i+=1

current letter h
current letter l
current letter l
current letter o
current letter w
current letter o
current letter r
current letter l
current letter d

#day 5:-

In [ ]:
#zip coding
#string interpolation

questions = ['name','color','shape']
answers = ['apple','red','circle']

for question, answer in zip(questions,answers):
  print('what is your {0}? I am {1}.'.format(question,answer))

what is your name? I am apple.
what is your color? I am red.
what is your shape? I am circle.

In [ ]:
#functions

l = list(int(input()).split(' '))
sum=0
for i in l:
  print(i)
  sum+=i

12 543 124 6

ValueError: ignored

In [ ]:
l = map(list(input()))

23 243

TypeError: ignored

In [ ]:
n = int(input())
aa = list(map(int, input().strip().split(' '))) #important
print(aa)

3
34 54 12 64 32
[34, 54, 12, 64, 32]

In [ ]:
sum(aa)

34

34

In [ ]:
n = input().split(' ')
a = list(map(int, n))

In [ ]:

def sum(x):
  summ=0
  for i in x:
    print(i)
    summ+=i
    return summ

sum(aa)

34

34

In [ ]:
function:
  statement

In [ ]:
def eo(x):
  if(x%2 ==0):
    print('even')
  else:
    print('odd')

In [ ]:
eo(4)

even

In [ ]:
Lambda Functions :-

lambda arguments : Expression

In [ ]:
x = lambda a:a + 5
print(x(22))

27

In [ ]:
#to do split and strip together in the same line of code
y = list(map(int, input().strip().split(' '))) #important
print(y)

54 87 3 9 65 897
[54, 87, 3, 9, 65, 897]

In [ ]:
list1 = [1,2,6,3,6.4,35.2,'ab',3.5,6,'world',3,4.6,3.3,'city',6,3,2,6,34]
# To - do
# find the sum of the list and remove string data type

In [ ]:
sum=0
for i in list1:
  if ((type(i)== int) or (type(i) == float)):
    sum+=float(i)
  else:
    list1.remove(i)

print(list1)
print(sum)

[1, 2, 6, 3, 6.4, 35.2, 3.5, 6, 3, 4.6, 3.3, 6, 3, 2, 6, 34]
112.5

In [ ]:
def db(n):
  return lambda x:x*n

num_double = db(2)
print(num_double(13))

26

In [ ]:
print('08','03','2022', sep = '-')

08-03-2022

#Day 6:- 
#10/3

In [ ]:
!pip3 install numpy
#Conda install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
# Importing the library

import pandas as pd
import numpy as np

In [ ]:
data = [1,2,3,4,4,554,3,'m']
d = pd.Series(data)
df = pd.DataFrame(d)
print(df)

     0
0    1
1    2
2    3
3    4
4    4
5  554
6    3
7    m

In [ ]:
s = pd.Series([1,2,3,np.nan,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d = pd.date_range('20220310',periods = 10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index = list(range(4))),
                   'D': np.array([5]*4, dtype = 'int32'),
                   'E': pd.Categorical(['test','train','train','test'])})

In [ ]:
df

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

A             int64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [ ]:
df.head(2)

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train

In [ ]:
df.tail()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.to_numpy()

array([[1, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test'],
       [2, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [3, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [4, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test']], dtype=object)

In [ ]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [ ]:
df.sort_index(axis =1,ascending = False)

       E  D  C          B  A
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [ ]:
df.sort_values(by = 'A')

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df['C']

0    1
1    1
2    1
3    1
Name: C, dtype: int64

In [ ]:
df[0:3]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train

In [ ]:

df.iloc[0]

A                      1
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 0, dtype: object

In [ ]:
#From label
df.loc[:,['A','C']]

   A  C
0  1  1
1  2  1
2  3  1
3  4  1

In [ ]:
# From Position 

df.iloc[3]

A                      4
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 3, dtype: object

In [ ]:
df.iloc[0:2,3:5]

   D      E
0  5   test
1  5  train

In [ ]:
df[df['A'] >2]

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
isnull()
dropna()
fillna()
isna(na)

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

A    2.5
C    1.0
D    5.0
dtype: float64

In [ ]:
df = pd.Series([1,2,3,np.nan,4,5]).shift(2)
print(df)

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    NaN
dtype: float64

In [ ]:
df.apply(np.cumsum)

0    [nan]
1    [nan]
2    [1.0]
3    [2.0]
4    [3.0]
5    [nan]
dtype: object

In [ ]:
df.value_counts()

1.0    1
2.0    1
3.0    1
dtype: int64

In [ ]:
s = pd.Series(['education','knowledge','course',np.nan])

In [ ]:
s.str.upper()

0    EDUCATION
1    KNOWLEDGE
2       COURSE
3          NaN
dtype: object

In [ ]:
s.str.lower()

0    education
1    knowledge
2       course
3          NaN
dtype: object